@-webkit-keyframes NumeroUno {
  0% {
    background: #2BC0E4;
  }
  20% {
    background: #65EC95;
  }
  40% {
    background: #EAC076;
  }
  60% {
    background: #E9898F;
  }
  80% {
    background: #D33D8A;
  }
  100% {
    background: #7254E6;
  }
}

@keyframes NumeroUno {
  0% {
    background: #2BC0E4;
  }
  20% {
    background: #65EC95;
  }
  40% {
    background: #EAC076;
  }
  60% {
    background: #E9898F;
  }
  80% {
    background: #D33D8A;
  }
  100% {
    background: #7254E6;
  }
}
@-webkit-keyframes WinterSolstice {
  0% {
    background: #D3959B;
  }
  11% {
    background: #BFE6BA;
  }
  22% {
    background: #403B4A;
  }
  33% {
    background: #403B4A;
  }
  44% {
    background: #E7E9BB;
  }
  55% {
    background: #D3959B;
  }
  66% {
    background: #BFE6BA;
  }
  77% {
    background: #E7E9BB;
  }
  88% {
    background: #D3959B;
  }
  100% {
    background: #BFE6BA;
  }
}

@keyframes WinterSolstice {
  0% {
    background: #D3959B;
  }
  11% {
    background: #BFE6BA;
  }
  22% {
    background: #403B4A;
  }
  33% {
    background: #403B4A;
  }
  44% {
    background: #E7E9BB;
  }
  55% {
    background: #D3959B;
  }
  66% {
    background: #BFE6BA;
  }
  77% {
    background: #E7E9BB;
  }
  88% {
    background: #D3959B;
  }
  100% {
    background: #BFE6BA;
  }
}
@-webkit-keyframes Cocktail {
  0% {
    background: #FC354C;
  }
  20% {
    background: #0ABFBC;
  }
  40% {
    background: #0ABF6D;
  }
  60% {
    background: #C9FF9E;
  }
  80% {
    background: #F4B23B;
  }
  100% {
    background: #F43B3B;
  }
}

@keyframes Cocktail {
  0% {
    background: #FC354C;
  }
  20% {
    background: #0ABFBC;
  }
  40% {
    background: #0ABF6D;
  }
  60% {
    background: #C9FF9E;
  }
  80% {
    background: #F4B23B;
  }
  100% {
    background: #F43B3B;
  }
}
@-webkit-keyframes Firestarter {
  0% {
    background: #C21500;
  }
  33% {
    background: #FFC500;
  }
  66% {
    background: #FF5252;
  }
  100% {
    background: #665296;
  }
}

@keyframes Firestarter {
  0% {
    background: #C21500;
  }
  33% {
    background: #FFC500;
  }
  66% {
    background: #FF5252;
  }
  100% {
    background: #665296;
  }
}
@-webkit-keyframes DirtNasty {
  0% {
    background: #302017;
  }
  20% {
    background: #000000;
  }
  40% {
    background: #4C2364;
  }
  60% {
    background: #2F4D3D;
  }
  80% {
    background: #8E306D;
  }
  100% {
    background: #FFFFFF;
  }
}

@keyframes DirtNasty {
  0% {
    background: #302017;
  }
  20% {
    background: #000000;
  }
  40% {
    background: #4C2364;
  }
  60% {
    background: #2F4D3D;
  }
  80% {
    background: #8E306D;
  }
  100% {
    background: #FFFFFF;
  }
}
